<section id="sobre" class="container py-5">
  <div class="fs-5 my-auto">
    <h2 class="display-5 fw-bold text-center mb-4">Sobre Mim</h2>
    <p>
      Olá! Meu nome é <strong>Leandro Jader</strong>, sou estudante de
      <strong>Desenvolvimento de Software</strong> e atualmente estou me dedicando ao aprendizado da linguagem
      <strong>C#</strong>, com foco em desenvolvimento <strong>Full Stack</strong>.
    </p>
    <p>
      Estou na área de tecnologia há aproximadamente <strong>1 ano e meio</strong>, estudando
      <strong>Sistemas de Informação</strong> na
      <strong>UNIPLAC (Universidade do Planalto Catarinense)</strong>.
    </p>
    <p>
      Nos últimos <strong>meses</strong>, venho me aprofundando especificamente em programação, participando de um
      intensivo na <strong>Academia do Programador</strong>.
    </p>
  </div>
</section>