@use 'bootstrap';
@use 'bootstrap-icons';

    $cor-princioal: #412547;
    $cor-secundaria:  #6d2bc2;
    
    $cor-background-1: #6a38ac;
    $cor-background-2: #242527;
    
    section {
        display: flex;

        min-height: 100vh;
        margin-top: auto;
        margin-bottom: auto;
    }
    .app-background-secundario{
    background-color: $cor-background-1;
    }

    .app-banner-text{
        background: linear-gradient(90deg, rgba(229, 62, 168, .906), rgba(172, 47, 189, .925) 60%);
        background-clip:text;
        color: transparent;
    }
    .app-btn-principal{
        background-color: $cor-princioal;

        &:hover {
            background: #57355f;
        }
    }
      .app-bg-foto{
        background: linear-gradient(90deg, rgba(229, 62, 168, .906), rgba(172, 47, 189, .925) 60%);
        border-radius: 33% 67% 53% 47% / 66% 41% 59% 34%;
        height: 25rem;
        margin-right: 15%;
        overflow: hidden;
        width: 25rem;
      }